*{
    font-family: IRANSansWeb_Bold;
}
.btn-primary{
    font-size: 14px;
}
input{
    font-size: 16px;
}
tr th{
    font-family: IRANSansWeb_Bold;
    font-size: 14px;
}
thead tr th{
    color: white;
}
tbody tr td{
    font-family: IRANSansWeb_Bold;
    font-size: 14px;

}
input::-webkit-input-placeholder {
    font-size: 12px;

}
