
<div class="row mt-2">
  <div class="col-md-4"></div>
  <div class="col-md-4">

    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading"> لطفا کد رهگیری را به صورت دقیق وارد نمائید </div>
        <div class="panel-body">
          <form >

            <div id="user-data">
              <div class="form-group">
                <input
                        type="text"
                        placeholder="کد رهگیری را وارد نمائید"
                        class="form-control"

                        name="codeRahgiri" required>

              </div>

            </div>
            <button class="btn btn-primary float-left btn-rounded" type="submit" >مشاهده نتیجه</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
