<div class="container mt-5">
    <!--<app-top-menu></app-top-menu>-->
    <!--<app-navigation></app-navigation>-->
    <app-header></app-header>
<!--    <app-mainbody *ngIf="showMenu"></app-mainbody>-->
    <app-mainbody2 *ngIf="showMenu"></app-mainbody2>
   <div class="row">
     <div class="col-md-12">
       <router-outlet></router-outlet>
     </div>
   </div>


     <!-- Footer -->
     <footer class="page-footer primary-color-dark">
         <!-- Copyright -->
         <div class="footer-copyright text-center  white-text">
           کلیه حقوق این سامانه متعلق به مرکز آمار و فناوری اطلاعات قوه قضاییه می باشد
         </div>
         <!-- Copyright -->

     </footer>
    <!-- Copyright -->
    <div class="footer-copyright mobile text-center primary-color-dark white-text">
      کلیه حقوق این سامانه متعلق به مرکز آمار و فناوری اطلاعات قوه قضاییه می باشد
    </div>
    <!-- Copyright -->
     <!-- Footer -->
     </div>




