<div class="d-flex justify-content-center  mr-2 mt-5 mb-5" id="pc">
  <div class="card card-cascade narrower teal lighten-4 ">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <div class="mt-2">
        <p><i class="fa fa-user m-2"></i>انتخاب سامانه جهت ورود</p>
      </div>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>


    <hr/>

    <!--  <div class="row">-->
    <!--    <div class="col-md-6">-->
    <div class="card-body card-body-cascade">
      <div class="d-flex justify-content-center  mr-2 mb-1" id="pc1">
        <div class="card card-cascade card-subtitle narrower grey lighten-5">
          <!-- Card image -->

            <div class="">
              <p class="text-danger">مراجعه کننده محترم</p>
            </div>


          <!--  <div class="row">-->
          <!--    <div class="col-md-6">-->
          <div class="card-body card-body-cascade">

            <form>
              <div class="form-group row d-flex justify-content-start">
                <ul class="list-group">
                  <li class="list-group-item">جهت استفاده از این خدمت ابتدا باید در سامانه ثنا (ثبت نام الکترونیک) ثبت نام نمائید.</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>


                </ul>
              </div>

            </form>

          </div>
          <!--    </div>-->
          <!--  </div>-->

        </div>

      </div>

      <form>
        <div class="form-group row d-flex justify-content-center">
          <div class="input-group d-flex justify-content-center">
            <div class="col-md-3 col-xs-3 text-right"><label>شماره ملی:</label></div>
            <div class="col-md-7 col-xs-7">
              <div class="input-group-prepend">
                <input type="text" class="form-control " placeholder="شماره ملی را وارد نمائید"
                       formControlName="firstName">
                <span class="input-group-text"><i class="fas fa-2x fa-user"></i> </span>

              </div>
            </div>
            <!--            <div *ngIf="f('firstName').touched && f('firstName').errors && f('firstName').invalid"-->
            <!--                 class="invalid-feedback float-left">-->
            <!--              <div *ngIf="f('firstName').errors.required">*</div>-->
            <!--            </div>-->
          </div>
          <div class="input-group d-flex justify-content-center mt-3">
            <div class="col-md-3 col-xs-3 text-right"><label>رمز شخص :</label></div>
            <div class="col-md-7 col-xs-7">
              <div class="input-group-prepend">
                <input type="text" class="form-control " placeholder="رمز شخص را وارد نمائید"
                       formControlName="firstName">
                <span class="input-group-text"><i class="fas fa-2x fa-key"></i> </span>

              </div>
            </div>
            <!--            <div *ngIf="f('firstName').touched && f('firstName').errors && f('firstName').invalid"-->
            <!--                 class="invalid-feedback float-left">-->
            <!--              <div *ngIf="f('firstName').errors.required">*</div>-->
            <!--            </div>-->
          </div>

          <div class="input-group d-flex justify-content-center mt-1 mt-4">
            <div class="col-md-3 col-xs-3 text-right"><label></label></div>
            <div class="col-md-7 col-xs-7 text-left">
              <div class="input-group-prepend text-left">
                <button type="button" class="btn btn-primary btn-lg  btn-block">ارسال رمز</button>


              </div>
            </div>
            <!--            <div *ngIf="f('firstName').touched && f('firstName').errors && f('firstName').invalid"-->
            <!--                 class="invalid-feedback float-left">-->
            <!--              <div *ngIf="f('firstName').errors.required">*</div>-->
            <!--            </div>-->
          </div>
        </div>

      </form>

    </div>
    <!--    </div>-->
    <!--  </div>-->

  </div>

</div>


