<div class="container">
  <div class="animated fadeIn">
    <div class="row">
      <div class="card card-warning shadow-lg mb-5">
        <div class="card-header">
          <h3 class="card-title text-right">افزودن شهرستان</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form id="needs-validation" novalidate>
            <!-- text input -->
            <div class="row">
              <div class="col-sm-10 col-md-5">
                <label class="float-right text-right"> ثبت شهر جدید</label>
                <input v-model="city_name" name="city_name" id="city_name" type="text" class="form-control" placeholder="شهر خود را وارد کنید..."  maxlength="30" required>
                <div class="invalid-feedback text-right" dir="rtl">
                  وارد کردن شهر الزامی ست.
                </div>
              </div>
              <div class="col-sm-2 col-md-2">
                <button type="submit" class="btn btn-block btn-primary" id="btn1">&nbsp; ثبت&nbsp;&nbsp;
                </button>
              </div>
            </div>
          </form>
          <div class="row">
            <table  class="table table-xs-responsive table-hover"  aria-role="table">
              <thead>
              <tr>
                <th>شناسه</th>
                <th>نام شهر</th>
                <th>ویرایش</th>
                <th>حذف</th>
              </tr>
              </thead>
              <tbody>
              <tr class="success">
                <td>123450</td>
                <td>شیراز</td>
                <td><i data-feather="edit"></i></td>
                <td><i data-feather="trash"></i></td>
              </tr>
              <tr class="info">
                <td>123451</td>
                <td>تهران</td>
                <td><i data-feather="edit"></i></td>
                <td><i data-feather="trash"></i></td>
              </tr>
              <tr class="warning">
                <td>123452</td>
                <td>اصفهان</td>
                <td><i data-feather="edit"></i></td>
                <td><i data-feather="trash"></i></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div><!-- /.end card-body -->
      </div>
    </div>
    <!--/.row-->
  </div>
</div>
