<div class="d-flex justify-content-center  mr-2 mt-4 mb-5" >

  <div class="card card-cascade narrower " style="border-radius: 10px!important;
    border: 2px solid #a5becf;">

    <!-- Card image -->
    <div class="view view-cascade overlay">
      <div class="mt-2">
        <p class="text-center"> <i class="fas fa-user m-2"></i>مراجعه کننده محترم</p>
      </div>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <hr/>
    <!-- Card content -->
    <div class="card-body card-body-cascade " >
      <form>
        <div class="form-group row d-flex justify-content-center mb-5">
          <ul class="list-group list-group-flush ml-4"  style="list-style-type: disc!important;">
            <li class="list-group-item" style="color: #333;list-style-type: disc">جهت استفاده از این خدمت ابتدا باید در سامانه ثنا (ثبت نام الکترونیک) ثبت نام نمائید.</li>
            <li class="list-group-item" style="color: #333">جهت ثبت نام در مراکز استان ها به دفاتر خدمات الکترونیک قضایی و در سایر شهرستان ها به دادگستری مربوطه مراجعه نمایید .</li>
            <li class="list-group-item" style="color: #333">مطابق ماده 13 آیین نامه نحوه استفاده از سامانه های رایانه ای یا مخابراتی وصول الکترونیکی اوراق قضایی به حساب کاربری مخاطب،ابلاغ محسوب می‌شود لذا به لحاظ اختلال احتمالی در ارسال پیامک،به طور متناوب حساب کاربری خود را مشاهده نمائید.</li>

          </ul>
        </div>

      </form>

    </div>
  </div>

</div>
<section id="service" class="service angle ras-card border border-success">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-3 col-xs-6">
        <div class="animated bounceInLeft  delay-05s">
          <div class="service-content text-center">
            <div class="media block-6 d-block text-center">
              <div class="icon justify-content-center align-items-center" [routerLink]="['darkhast']">
                <img src="../../../assets/img/reserve.png" class="img">

                <p class="heading">دریافت نوبت </p>
              </div>

            </div>
          </div>
        </div>
        <!--/ End first service -->
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="animated bounceInLeft  delay-05s">
          <div class="service-content text-center">
            <!--<span class="service-icon icon-pentagon"><i class="fa fa-tachometer"></i></span>-->
            <!--<h3>خدمات مالیاتی</h3>-->
            <div class="media block-6 d-block text-center">

              <div class="icon icon1 justify-content-center  align-items-center" [routerLink]="['shekait']">
                <!--<span class="flaticon-reading "></span>-->
                <br>
                <img src="../../../assets/img/changePassword-12e54fb….jpg" class="img">
                <p class="heading">تغییر رمز</p>
              </div>
              <div class="media-body p-2 mt-3">
              </div>
            </div>
          </div>
        </div>
        <!--/ End first service -->
        <!--/ End first service -->
      </div>
      <div  class="col-md-3 col-xs-6">
        <div class="animated bounceInLeft  delay-05s">
          <div class="service-content text-center">
            <!--<span class="service-icon icon-pentagon"><i class="fa fa-tachometer"></i></span>-->
            <!--<h3>خدمات مالیاتی</h3>-->
            <div class="media block-6 d-block text-center">

              <div class="icon icon1 justify-content-center align-items-center" [routerLink]="['moshahede']">
                <!--<span class="flaticon-reading "></span>-->
                <br>
                <img src="../../../assets/img/contradictions.jpg" class="img">
                <p class="heading">پیگیری نوبت</p>
              </div>
              <!--<div class="media-body p-2 mt-3">-->
              <!--</div>-->
            </div>
          </div>
        </div>

      </div>
      <div  class="col-md-3 col-xs-6">
        <div class="animated bounceInLeft  delay-05s">
          <div class="service-content text-center">
            <!--<span class="service-icon icon-pentagon"><i class="fa fa-tachometer"></i></span>-->
            <!--<h3>خدمات مالیاتی</h3>-->
            <div class="media block-6 d-block text-center">

              <div class="icon icon1 justify-content-center align-items-center" [routerLink]="['pishnehad']">
                <!--<span class="flaticon-reading "></span>-->
                <br>
                <img src="../../../assets/img/help.jpg" class="img">
                <p class="heading">راهنمایی ثبت نام</p>
              </div>
              <!--<div class="media-body p-2 mt-3">-->
              <!--</div>-->
            </div>
          </div>
        </div>

      </div>
    </div><!-- Content row end -->
  </div>
  <!--/ Container end -->
</section>
<!--/ Service box end -->






<!--<div class="mobile  mt-4">-->
<!--    <div class="card mb-3">-->
<!--  <div class="row mr-1">-->

<!--    <div class="col-md-3 col-xs-6 mb-3 mt-3">-->
<!--      <div class="card border border-primary " [routerLink]="['moshavere']" >-->
<!--        &lt;!&ndash; Card image &ndash;&gt;-->
<!--        <div class="view overlay">-->


<!--          <img class="card-img-top justify-content-center text-center" src="./assets/img/20/consulting.png"  style="height: 50%;width: 60%"><a>-->

<!--          <div class="mask  rgba-black-slight"></div>-->
<!--        </a>-->
<!--        </div>-->
<!--        &lt;!&ndash;<a class="btn-floating btn-action ml-auto mr-4 mdb-color info-color-dark"><i class="fas fa-chevron-left pl-1"></i></a>&ndash;&gt;-->

<!--        &lt;!&ndash; Card content &ndash;&gt;-->
<!--        <div class="card-body mt-1">-->
<!--          &lt;!&ndash; Title &ndash;&gt;-->
<!--          <h4 class="card-title text-center ">مشاوره خدمت</h4>-->
<!--        </div>-->

<!--        &lt;!&ndash;<div class="card-footer text-primary  grey lighten-2">&ndash;&gt;-->
<!--         &lt;!&ndash;&ndash;&gt;-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="col-md-3 col-xs-6 mb-3 mt-3">-->
<!--      <div class="card border border-primary  " [routerLink]="['mosharekat']">-->
<!--        &lt;!&ndash; Card image &ndash;&gt;-->
<!--        <div class="view overlay">-->


<!--          <img class="card-img-top justify-content-center text-center" src="./assets/img/20/elections.png"  style="height: 50%;width: 60%"><a>-->

<!--          <div class="mask  rgba-black-slight"></div>-->
<!--        </a>-->
<!--        </div>-->
<!--        &lt;!&ndash;<a class="btn-floating btn-action ml-auto mr-4 mdb-color info-color-dark"><i class="fas fa-chevron-left pl-1"></i></a>&ndash;&gt;-->

<!--        &lt;!&ndash; Card content &ndash;&gt;-->
<!--        <div class="card-body">-->
<!--          &lt;!&ndash; Title &ndash;&gt;-->
<!--          <h4 class="card-title text-center">مشارکت الکترونیک </h4>-->
<!--        </div>-->

<!--        &lt;!&ndash;<div class="card-footer text-primary  grey lighten-2">&ndash;&gt;-->
<!--        &lt;!&ndash;&ndash;&gt;-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="col-md-3 col-xs-6 mb-3 mt-1">-->
<!--      <div class="card  border border-primary  " [routerLink]="['nazarsanji']" >-->
<!--        &lt;!&ndash; Card image &ndash;&gt;-->
<!--        <div class="view overlay">-->


<!--          <img class="card-img-top justify-content-center text-center" src="./assets/img/20/proposal.png"  style="height: 50%;width:60%"><a>-->

<!--          <div class="mask  rgba-black-slight"></div>-->
<!--        </a>-->
<!--        </div>-->
<!--        &lt;!&ndash;<a class="btn-floating btn-action ml-auto mr-4 mdb-color info-color-dark"><i class="fas fa-chevron-left pl-1"></i></a>&ndash;&gt;-->

<!--        &lt;!&ndash; Card content &ndash;&gt;-->
<!--        <div class="card-body">-->
<!--          &lt;!&ndash; Title &ndash;&gt;-->
<!--          <h4 class="card-title text-center">نظرسنجی خدمات </h4>-->
<!--        </div>-->

<!--        &lt;!&ndash;<div class="card-footer text-primary  grey lighten-2">&ndash;&gt;-->
<!--        &lt;!&ndash;&ndash;&gt;-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="col-md-3 col-xs-6 mb-3 mt-1">-->
<!--      <div class="card border border-primary" [routerLink]="['shekait']" >-->
<!--        &lt;!&ndash; Card image &ndash;&gt;-->
<!--        <div class="view overlay">-->


<!--          <img class="card-img-top justify-content-center text-center" src="./assets/img/20/rejected.png"  style="height: 50%;width: 60%"><a>-->

<!--          <div class="mask  rgba-black-slight"></div>-->
<!--        </a>-->
<!--        </div>-->
<!--        &lt;!&ndash;<a class="btn-floating btn-action ml-auto mr-4 mdb-color info-color-dark"><i class="fas fa-chevron-left pl-1"></i></a>&ndash;&gt;-->

<!--        &lt;!&ndash; Card content &ndash;&gt;-->
<!--        <div class="card-body">-->
<!--          &lt;!&ndash; Title &ndash;&gt;-->
<!--          <h4 class="card-title text-center">شکایات  انتقادات </h4>-->
<!--        </div>-->

<!--        &lt;!&ndash;<div class="card-footer text-primary  grey lighten-2">&ndash;&gt;-->
<!--        &lt;!&ndash;&ndash;&gt;-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="col-md-3 col-xs-6 mb-1 ">-->
<!--      <div class="card  border border-primary  " [routerLink]="['pishnehad']">-->
<!--        &lt;!&ndash; Card image &ndash;&gt;-->
<!--        <div class="view overlay">-->

<!--          <img class="card-img-top justify-content-center text-center" src="./assets/img/20/survey.png"  style="height: 50%;width: 60%"><a>-->

<!--          <div class="mask  rgba-black-slight"></div>-->
<!--        </a>-->
<!--        </div>-->
<!--        &lt;!&ndash;<a class="btn-floating btn-action ml-auto mr-4 mdb-color info-color-dark"><i class="fas fa-chevron-left pl-1"></i></a>&ndash;&gt;-->

<!--        &lt;!&ndash; Card content &ndash;&gt;-->
<!--        <div class="card-body">-->
<!--          &lt;!&ndash; Title &ndash;&gt;-->
<!--          <h4 class="card-title text-center">پیشنهاد بهبود ارائه خدمت </h4>-->
<!--        </div>-->

<!--        &lt;!&ndash;<div class="card-footer text-primary  grey lighten-2">&ndash;&gt;-->
<!--        &lt;!&ndash;&ndash;&gt;-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
