<!--<div class="card-header primary-color-dark">-->
  <p class="text-dark text-center mt-3">فهرست دفاتر خدمات الکترونیک قضایی</p>
<hr>
<!--</div>-->
<div class="row mt-3">

    <div class="col-md-3 mb-3">
      <div class="input-group flex-nowrap">
        <div class="col-md-3 col-xs-3"><label >استان:</label></div>
        <div class="col-md-9 col-xs-9">
          <div class="input-group-prepend ">
            <select class="browser-default custom-select form-control" formControlName="jensiat"
            >
              <option value="مرد" >تهران</option>
              <option value="زن">مشهد</option>
              <option value="زن">قم</option>
              <option value="زن">لرستان</option>
              <option value="زن">کردستان</option>
              <option value="زن">اراک</option>
              <option value="زن">گیلان</option>
              <option value="زن">خوزستان</option>


            </select>

          </div>

        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="input-group flex-nowrap">
        <div class="col-md-2 col-xs-3"><label >شهر:</label></div>
        <div class="col-md-10 col-xs-9">
          <div class="input-group-prepend ">
            <select class="browser-default custom-select form-control" formControlName="jensiat"
            >
              <option value="مرد" >تهران</option>
              <option value="زن">مشهد</option>
              <option value="زن">قم</option>
            </select>

          </div>


        </div>
      </div>

    </div>
    <div class="col-md-3 mb-3">
      <button type="button" class="btn btn-primary btn-lg  btn-block">جستجو  </button>

    </div>

</div>
<hr/>
<table
  id="dtBasicExample"
  class="table table-striped table-bordered mt-5"
  cellspacing="0"
  width="100%"
>
  <thead>
  <tr>
    <th class="th-sm" style="width: 1%;">کد دفتر</th>
    <th class="th-sm" style="width: 10%;">مدیر</th>
    <th class="th-sm" style="width: 10%;">استان</th>
    <th class="th-sm" style="width: 10%;">شهر</th>

    <th class="th-sm" style="width: 30%;">آدرس</th>
    <th class="th-sm" style="width: 10%;">تلفن</th>
    <th class="th-sm" style="width: 1%;">فکس</th>

  </tr>

  </thead>
  <tbody>
  <tr>
    <td>۹۳۳۰۵۰۰۱</td>
    <td>اکبر شفیعی دستگردی</td>
    <td>اصفهان</td>
    <td>اصفهان</td>
    <td>خیابان کهندژ-بعد از چهار راه آیت الله نجفی- روبروی مسجد حبیب ابن مظاهر کوچه ۱۵</td>
    <td>۰۳۱-۳۷۶۵۶۳۰۲</td>
    <td>۰۳۱-۳۷۶۵۶۳۰۲</td>
  </tr>
  <tr>
    <td>۹۳۳۰۵۰۰۱</td>
    <td>اکبر شفیعی دستگردی</td>
    <td>اصفهان</td>
    <td>اصفهان</td>
    <td>خیابان کهندژ-بعد از چهار راه آیت الله نجفی- روبروی مسجد حبیب ابن مظاهر کوچه ۱۵</td>
    <td>۰۳۱-۳۷۶۵۶۳۰۲</td>
    <td>۰۳۱-۳۷۶۵۶۳۰۲</td>
  </tr>
  <tr>
    <td>۹۳۳۰۵۰۰۱</td>
    <td>اکبر شفیعی دستگردی</td>
    <td>اصفهان</td>
    <td>اصفهان</td>
    <td>خیابان کهندژ-بعد از چهار راه آیت الله نجفی- روبروی مسجد حبیب ابن مظاهر کوچه ۱۵</td>
    <td>۰۳۱-۳۷۶۵۶۳۰۲</td>
    <td>۰۳۱-۳۷۶۵۶۳۰۲</td>
  </tr>
  <tr>
    <td>۹۳۳۰۵۰۰۱</td>
    <td>اکبر شفیعی دستگردی</td>
    <td>اصفهان</td>
    <td>اصفهان</td>
    <td>خیابان کهندژ-بعد از چهار راه آیت الله نجفی- روبروی مسجد حبیب ابن مظاهر کوچه ۱۵</td>
    <td>۰۳۱-۳۷۶۵۶۳۰۲</td>
    <td>۰۳۱-۳۷۶۵۶۳۰۲</td>
  </tr>
  <tr>
    <td>۹۳۳۰۵۰۰۱</td>
    <td>اکبر شفیعی دستگردی</td>
    <td>اصفهان</td>
    <td>اصفهان</td>
    <td>خیابان کهندژ-بعد از چهار راه آیت الله نجفی- روبروی مسجد حبیب ابن مظاهر کوچه ۱۵</td>
    <td>۰۳۱-۳۷۶۵۶۳۰۲</td>
    <td>۰۳۱-۳۷۶۵۶۳۰۲</td>
  </tr>

  </tbody>
</table>
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1">قبلی</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <a class="page-link">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link">بعدی</a>
    </li>
  </ul>
</nav>
